* {
   font-family: 'Rancho', cursive;
   font-size: 16px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   outline: none;
   border: none;
   }

body {
   background-image: url("../Images/4.jpg") ;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #828282;
   }

:root {
   --light: #FFFAF3;
   --black: #000000;
   --dark: #2D2525;
   --green: #CADD41;
   --red: #F90817;
   --pink: #F1BDC7;
   --peach: #F0B376;
   --text:  'Lora', serif;
   }


/* header */

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   width: 100%;
   height: 16vh;
   background: var(--dark);
   padding: 0 5vw 0 5vw;
   }

.navbar {
   display: flex;
   }

.link a {
   padding: 1rem;
   font-size: 2rem;
   color: var(--light);
   }

.link a:hover {
   color: var(--green);
   font-size: 2.1rem;
   }

.link a:active {
   color: var(--red);
   font-size: 2.1rem;
   }

.logo {
   width: 20vh;
   }

  /*MAIN*/
main {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 60vh;
   margin-top: 20vh;
   }

/*form*/

.reserve-cont{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgba(249, 225, 225, 0.8);
   box-shadow: -6px 5px 48px 19px rgba(15, 16, 17, 0.31) inset;
   width: 30vw;
   height: 55vh;
   padding:3%;
   gap:2%;
   border: --dark 1px solid;
   border-radius: 10%;
  
}

.form-cont {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width:80% ;
   height:80%;
   gap: 1.5rem;
   }

   form{
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      gap: 3%;
   }

form p{
   font-size: 20px;
   color: var(--dark);
   font-family: var(--text);
   margin: .2rem 0 .2rem 0;
   }


form input, select{
   width: 100%;
   height: 15%;
   border-radius: 30px;
   font-family: var(--text);
   padding: 1rem;
   font-weight: bolder;
}

#reserve-card{
   display: none;
   background-color: var(--pink);
   width: 30vw;
   height: 55vh;
   padding: 3%;
   border: --dark 1px solid;
   border-radius: 10%;
}
#reserve-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   font-size: 1.4rem;
   font-family: 'Lora', serif;
   }

#reserve-text h3{
   color: var(--dark);
      font-size: 1.4rem;
      font-family: 'Lora', serif;
      font-weight: bolder;
}

#heading{
   display: flex;
   justify-content: center;
   gap:1rem;
   width: 80%;
   height: 15%;
   }

#heading h2{
   color: var(--dark);
   font-size: 1.4rem;
   font-family: 'Lora', serif;
   font-weight: bolder;
}
.res-btn-cont{
   display: flex;
   justify-content: center;
   width: 80%;
}

#reserve-btn{
   width: 80%;
   font-size: 1.2rem;
   font-family: 'Lora', serif;
   font-weight: bolder;
   background-color: var(--green);
   border-radius: 30px;
   padding: 0.5rem;
   
   }

#reserve-btn:hover{
   background-color: var(--pink);
   color: var(--black);
   cursor: pointer;
   }


.btn-order {
   border-radius: 40px 0 40px 40px;
   color: var(--light);
   background-color: #F90817;
   width: 15%;
   letter-spacing: .1rem;
   align-self: flex-end;
   margin: 2% 6% 2%;
   font-size: 1.8rem;
   padding: 1rem;
   }

.btn-order:hover {
   background-color: #CADD41;
   cursor: pointer;
   }

#container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 1% 0 20% 0;

}

 #container h2 {
   font-size: 5rem;
   color: var(--pink);
   font-weight: 550;
   letter-spacing: 0.2rem;

}

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 1000;
   width: 100%;
   height: 8vh;
   background: var(--dark);
   padding: 2rem 10%;
}

footer a {
   color: var(--light);
   font-size: 0, 8rem;
}

/* media queries  */

@media all and(min-width: 992px) and (max-width: 1199px) {
   * {
      font-size: 14px;
   }

   .logo {
      width: 18vh;
   }

   footer {
      height: 34%;
      position: static;
   }
}

@media all and (min-width: 768px) and (max-width: 991px) {
   * {
      font-size: 12px;
   }

   .logo {
      width: 16vh;
   }

   footer {
      height: 34%;
      position: static;
   }
}

@media all and (max-width: 767px) {
   * {
      font-size: 10px;
   }

   .logo {
      width: 14vh;
   }

   footer {
      height: 34%;
      position: static;
   }
}

@media all and (max-width: 540px) {
   * {
      font-size: 8px;
   }

   .logo {
      width: 12vh;
   }

   footer {
      height: 34%;
      position: static;
   }


      .reserve-cont {
         width: 60vw;
         height: 40vh;
      }
      .form-cont {
         width: 70%;
         height: 70%;

      }
   
      form {
         width: 100%;
         height: 80%;
         gap: 1%;
      }
   
      form p {
         font-size: 1.2rem;
         margin: .1rem 0 .1rem 0;
      }
}